html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

#main-content {

    display: flex;

    flex-direction: column;
  
    align-items: center;
  
    justify-content: center;
  
    min-height: 100vh;
  
    color: #fff;
  
    background-color: #111;
  
}

img {
	max-width: 100%;
}

.logo {

    display: inline-block;
  
    margin-bottom: 50px;
  
  }

#text {
    text-align:  center;
}

h1 {
    margin: 0;
}